@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;500&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  html, body {
      
      height: 100%;
      
    text-decoration: none;
    
    }
.sampul {
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    
}
.photo {
width: 50%;

position: relative;
display: flex;

/*background-color: white;*/
}
.me {
    width: 50vh;

border-radius: 50%;
margin: auto;
z-index: 2;
filter: drop-shadow(5vh 0 0 #AA1111);
}
.name {
    background-color: #000000;
    width: 50%;
     display: grid;
    align-items: center;
    justify-content: center;
}
.wrapper {
 display: block;  
}
.wrapper .position {
    font-size: 7vh;
    color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.wrapper .based {
    font-size: 2.5vh;
    margin-top: 1vh;
    color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.wrapper .dynamic-txts{
    line-height: 9vh;
    height: 10vh;
    overflow: hidden;
    color: #FFFFFF;
}
.dynamic-txts li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 10vh;
    position: relative;
    top: 0;
    animation: slide 14s steps(2) infinite;
}
@keyframes slide {
    100%{
        /*top: -19.5vh;*/
        top: -22vh;
    }
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 110%;
    width: 100%;
    opacity: 0;
    background-color: #000000;
    border-left: 0.2vh solid #FFFFFF;
    animation: typing 7s steps(9) infinite;
}
@keyframes typing {
    0%{
        opacity: 1;
    }
    15%{
        left: 112%;
        margin: 0 -0.3vh 0 0.2vh;
        opacity: 1;
    }
    15.001%{
        opacity: 0;
    }
    25%,85%{
        left: 112%;
        margin: 0 -0.3vh 0 0.2vh;
        opacity: 0;
    }
    85.001%{
        opacity: 1;
    }
    100%{
      left: 0;
      margin: 0 -0.3vh 0 0.2vh;
      opacity: 1;
    }
}

.contact {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2vh;
    padding-bottom: 5px;
    border-bottom: #AA1111 solid;
    position: relative;
    display: inline-block;
    margin-top: 1vh;
    margin-left: 0.1vh;
}
.contact:hover{
    border-bottom: #000000 solid;
}
.contact1 {
    color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 821px) {
.sampul{
    display: block;
}
.name, .photo{
    width: 100%;
    height: 50%;
}
.name{
    text-align: center;
}
.me{
    margin-top: 6vh;
    filter: drop-shadow(0 0 0 #ebebeb);
    border: #EBEBEB solid 2vh;
}
.contact1{
    margin-left: 0;
}
}
@media only screen and (max-width: 600px){
    .me{
        width: 40vh;
        margin-top: 11vh;
    }
}
@media only screen and (max-width: 414px){
    .dynamic-txts li{
        font-size: 8vh;
    }
    .wrapper .position{
        font-size: 6vh;
    }
}
.about-me{
    background-color: #EBEBEB;
    height: 55%;
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.judul{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vh;
    padding-top: 7vh;
}
.judul1{
    text-align: center;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color: #AA1111;
    font-size: 2vh;
    color: #FFFFFF;
}
.judul2{
   text-align: center;
   font-size: 4vh;
   color: #000000;
   font-weight: 600;
}
.content{
    display: flex;
    width: 70%;
    height: 60%;
    float: center;
    margin: auto;
    margin-top: 3vh;
}
.content1{
    display: block;
    width: 55%;
    height: 25vh;
}
.description{
    display: inline-flex;
    height: 5vh;
    font-size: 3vh;
}
.deskripsi{
    margin-top: 1.5vh;
    font-size: 2vh;
    line-height: 3.5vh;
}
.bio{
    width: 40%;
    margin-left: 3vh;
}
.lahir{
    display: block;
   border-left: solid 0.5vh #AA1111;
   height: 25vh;
   padding: 1.5vh;
   padding-left: 4vh;
   width: 100%;
}
.nama{
    margin-left: 0.9vh;
    border-bottom: solid #AA1111 0.4vh;
    font-weight: bold;
}
.lahir{
    font-size: 1.8vh;
}
.lahir p{
    font-weight: 600;
    margin-top: 0.5vh;
}
@media only screen and (max-width: 821px){
    .about-me{
        height: 100%;
    }
    .content{
        display: flex;
        width: 90%;
        text-align: center;
        position: relative;
        flex-direction: column;
        height: 100%;
    }
    .content>.content1{
         width: 100%;
         height: 38vh;
    }
    .content>.bio{
        height: 100%;
    }
    .content1{
       
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: inline-block;
    }
    .bio{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
    .lahir{
        border-top: solid 0.5vh #AA1111;;
        border-left: none;
        text-align: center;
        padding: 0;
        padding-top: 1.5vh;
        height: 0;
        margin-top: 5vh;
    }
}
.education{
    background-color: #FFFFFF;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    display: block;
}
.work{
    background-color: #EBEBEB;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    display: block;
    padding-bottom: 7vh;
}
.education-content{
  display: flex;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
}
.title{
    margin: auto;
}
.education1{
   margin-right:auto ;
    font-weight: 800;
    margin-top: 5vh;
    font-size: 2.5vh ;
    padding-right: 2.5vh;
  width: 50%;
}
.education3{
    margin-left: auto;
    font-weight: 800;
    margin-top: 5vh;
    font-size: 2.5vh;
    padding-left: 2.5vh;
    width: 50%;
    padding-bottom: 7vh;
}
.education8{
    font-weight: 800;
    margin-top: 5vh;
    font-size: 2.5vh;
    padding-left: 2.5vh;
    width: 50%;
}
.education4{
    margin-left: auto;
    font-weight: 800;
    margin-top: 5vh;
    font-size: 2.5vh;
    padding-left: 2.5vh;
    width: 50%;
}
.space{
    height: 3.4vh;
}
.education2{
    border-left: #AA1111 solid 0.3vh;
    padding-left: 2vh;
    font-weight: 500;
    font-size: 1.8vh;
    margin-top: 3vh;
}
.education2 p{
    font-weight: 600;
    margin-top: 0.5vh;
}
.education7{
    border-left: #AA1111 solid 0.3vh;
    padding-left: 2vh;
    font-weight: 500;
    font-size: 1.8vh;
    margin-top: 3vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.education7 p{
    font-weight: 600;
    margin-top: 0.5vh;
}
.education9{
    border-left: #AA1111 solid 0.3vh;
    padding-left: 2vh;
    font-weight: 500;
    font-size: 1.8vh;
    margin-top: 3vh;
}
.education9 p{
    font-weight: 600;
    margin-top: 0.5vh;
}
.line1{
    padding-bottom: 2vh;
    border-bottom: solid #EBEBEB 0.2vh;
}
.skill{
    
    font-weight: 500;
    font-size: 1.8vh;
    margin-top: 3vh;
    display: block;
}
.skill1{
    font-weight: 500;
    font-size: 1.8vh;
    margin-top: 3vh;
    display: block;
}
.skill h4, .skill1 h4{
    display: flex;
}
.skill h4 p , .skill1 h4 p{
   margin-left: auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 50vh;

  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .sertif{
    display: flex;
    align-items: center;
    gap: 4vh;
    padding: 2vh;
    margin-top: 5vh;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .card-text {
    font-size: 2vh;
    padding: 1vh;
    font-weight: bold;
    margin-bottom: 1vh;
    text-align: center;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-image img {
    transform: scale(1.1);
  }

.skill hr, .skill1 hr{
    width:100%;
    text-align:left;
    margin-left:0; 
    display: block;
    position: relative;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    height: 1vh;
    border-radius: 1vh;
    background-color: #ebebeb;
}
hr::after{
    content: "";
    position: absolute;
    text-align:left;
    display: block;
    height: 100%;
    border-radius: 1vh;
    background-color: #AA1111;
}
.excel::after{
width: 90%;
}
.kotlin::after{
    width: 80%;
}
.edit::after{
    width: 75%;
}
.english::after{
    width: 95%;
}
.html::after{
    width: 70%;
}
.java::after{
    width: 60%;
}

.working{
    width: 80vh;
    margin: auto;
}

.unorder{
    margin-left: 4vh;
}
.evergreen{
    margin-top: auto;
    margin-bottom: auto;
}

#idk{
    height:2.5vh;
}
@media only screen and (max-width: 821px){
    .education{
        margin-bottom: 7vh;
    }
    .education-content{
       
         width: 90%;
    }
    .education1, .education3, .education4{
        width: 100%;
        padding: 0;
    }
    .education8{
        margin-top: 0vh;
        width: 100%;
        padding-left: 0vh;
        margin-right: auto;
    }
    .education9{
        margin-top: 0vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
    #idk{
        height: 0vh;
    }
    .skill1{
        margin-top: 0;
    }
    .space{
        height: 0;
    }
    .education4{
        margin-top: 3vh;
    }
    .working{
        width: 40vh;
    }
    .evergreen{
        margin-bottom: auto;
        margin-top: 0vh;
    }
    .education9 {
    flex-direction: column;
  }
  .card{
    width: 30vh;
  }
}
footer{
    height: 25%;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 3vh;
    position: relative;
    display: block;
    font-family: 'Open Sans', sans-serif;
 
}
.kontak{
    width: 70%;
    margin: auto;
    padding-top: 2vh;
    text-align: center;
    font-weight: 600;
    height: 85%;
}
.kontak1{
    margin-top: 1vh;
}
.kontak1 a{
    color: #FFFFFF;
    margin-right: 1vh;
}
.copyright{
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    bottom: 0;
    font-size: 1.5vh;
    margin: auto;
}
.kontak1 a:hover{
    color: #AA1111;
}
.copyright a{
    border-bottom: #AA1111 solid 0.2vh;
    text-decoration: none;
    color: #FFFFFF;
}
.copyright a:hover{
    border-bottom: none;
}